.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 50px;

}

.btn {
	color: white;
	background-color:  blue; 
}

footer {
	padding: 10px 10px 0 10px;
	background-color: red;
	margin-botton: 0px;
	margin-top: 10px;
}

.card-donación{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-agenda{
	width: 100%;
	border-radius: 0px;
}
.footer-address-icon{
	padding-right: 10px;
}
.tab-content{
	padding-top: 10px;
}