@red: #f76565;

.margenes(@top: 0px, @botton: 0px){
	margin-top: @top;
	margin-botton: @botton;
}

.jumbotron {
	background-color: @red;
	color: black;
	.margenes(50px, 0px);

}

.btn {
	color: white;
	background-color:  blue; 
}

footer {
	padding: 10px 10px 0 10px;
	background-color: @red;
	.margenes(10px, 0px);
}

.card-donación{
	flex: 1 200px;
	.margenes(10px, 0px);
}

.btn-agenda{
	width: 100%;
	border-radius: 0px;

}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}