.jumbotron {
  background-color: #f76565;
  color: black;
  margin-top: 50px;
  margin-botton: 0px;
}
.btn {
  color: white;
  background-color: blue;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #f76565;
  margin-top: 10px;
  margin-botton: 0px;
}
.card-donación {
  flex: 1 200px;
  margin-top: 10px;
  margin-botton: 0px;
}
.btn-agenda {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
